---
apiVersion: v1
kind: Pod
metadata:
  name: minio-legacy-reader
  namespace: kubesphere-system
  labels:
    app: minio-legacy-reader
spec:
  restartPolicy: Never
  securityContext:
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0
  containers:
    - name: minio
      image: "{{ minio_repo }}:{{ minio_legacy_tag | default('RELEASE.2019-08-07T01-59-21Z') }}"
      imagePullPolicy: IfNotPresent
      command:
        - /bin/sh
        - -ce
        - /usr/bin/docker-entrypoint.sh minio -C /root/.minio/ server /data
      env:
        - name: MINIO_ACCESS_KEY
          value: "openpitrixminioaccesskey"
        - name: MINIO_SECRET_KEY
          value: "openpitrixminiosecretkey"
      ports:
        - containerPort: 9000
          name: api
      volumeMounts:
        - name: data
          mountPath: /data
  volumes:
    - name: data
      persistentVolumeClaim:
        claimName: minio
---
apiVersion: v1
kind: Service
metadata:
  name: minio-legacy-reader
  namespace: kubesphere-system
  labels:
    app: minio-legacy-reader
spec:
  type: ClusterIP
  selector:
    app: minio-legacy-reader
  ports:
    - name: api
      port: 9000
      targetPort: 9000
