image:
  repository: {{ mlu_exporter_repo | default("watering-ai-registry.cn-shanghai.cr.aliyuncs.com/kube-ai-hub/cambricon/mlu-exporter") }}
  pullPolicy: IfNotPresent
  tag: v2.0.22

resources:
  limits:
    cpu: {{ monitoring.gpu.mlu_exporter.resources.limits.cpu | default("100m") }}
    memory: {{ monitoring.gpu.mlu_exporter.resources.limits.memory | default("100Mi") }}
  requests:
    cpu: {{ monitoring.gpu.mlu_exporter.resources.requests.cpu | default("100m") }}
    memory: {{ monitoring.gpu.mlu_exporter.resources.requests.memory | default("512Mi") }}

